.table{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 0px 0px 0px 20px;
    width: 800px;
    height: 310px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.tableSection{
    display: flex;
    justify-content: space-between;
}

.upLine{
    margin-left: 10px;
    font-size: 20px;
    color: black;
}

.subLine{
    color: grey;
}

.amtColor{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    font-weight: bold;
    color: orange;
    font-size: 30px;
    text-align: end;
    /* margin-bottom: 20px; */
}

.table td {
    border-bottom: 1px solid black;
  }

.image{
    height: 35px;
    width: 35px;
    padding-bottom: 3px;
}

.imgAndTitleDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.svg{
    height:35px;
    width: 35px;
}

.editIcon{
    border-radius: 8px;
    background-color: orange;
    color:white;
}

.cancelIcon{
    width: 35px;
    height: 37px;
    border-radius: 10px;
    background-color: red;
    color:white;
}
.tableButtonDiv{
    align-self: center;
}

.tableButton{
    height: 45px;
    width: 45px;
    background-color: rgb(206, 202, 202);
    font-size: 30px;
    font-weight: bolder;
    border-radius: 30%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.page{
    border-radius: 8px;
    height: 45px;
    width: 45px;
    background-color: rgb(65, 168, 65);
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: xx-large;    
    border: none;
}