.modalBack {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(00, 0, 0, 0.5);
}
  
.modalwrapper {
    position: absolute;
    top: 1%;
    left: 25%;
    transform: translate(25%, 25%);
    border: 1px black solid;
    background-color: rgb(163, 156, 156);
    height: 200px;
    padding: 20px;
    margin: 50px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.false {
    display: block;
}
  
.true {
    display: none;
}
  
.form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap:5px;
}

.black{
    color: black;
    margin-left: 0px;
    padding-left: 0px;
}
  
.btn {
    background-color: rgb(65, 168, 65);
    color:white;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 12px;
    height: 35px;
    width: 130px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: large;
}

.color{
    background-color: rgb(187, 181, 181);
}
  
.inpBox {
    border-radius: 10px;
    border-color: 1px solid black;
    height: 35px;
    width: 180px;
    margin: 4px;
    font-size: medium;
}
  